// *** Variables ***

// color palette
$color-primary: #042C74;
$color-secondary: #F5F5DC;
$color-tertiary: #FFFFFF;


// Couleur
$color-one: #191310;
$color-two: #CAF0F8;
$color-three: #53C6CF;
$color-for: #0B7ABF;
$color-five: #08539A;
$color-six: #042C74;
$color-seve: #03045E;


// 





// $color-danger: #D32F2F;
// $color-warning: #FFA000;
// $color-success: #388E3C;

$color-danger: #E74C3C;
$color-warning: #F39C12;
$color-success: #27AE60;

// Font-size
$font-size-medium: 1.6rem;
$font-size-large: 2rem;

// rounded image size
$rounded-img-size-s: 3rem;
$rounded-img-size-m: 6rem;
$rounded-img-size-l: 9rem;

// *** Functions ***

// *** Helpers ***

// *** Mixins ***
@mixin rounded-img($size){
    width: $size;
    height: $size;
    border-radius: 50%;
    overflow: hidden;

    img {
       width: 100%;
       height: 100%;
       object-fit: cover;
     }
}



.border-top{
    color: $color-tertiary;
    opacity: 0.2;
}






// *** Reset ***

// *** Typography ***

.title{
    $font-size: $font-size-base;
    color: $color-primary;
}

.text-size-m{
    font-size: $font-size-medium;
}