/* LAYOUT */
// Menu
.navbar{
    padding: 10px 0;
    background-color: white !important;
}

#nav{
    margin-bottom: 20px;
}

// Container


// Form
.form{

    @include set-font('Poppins', 300);
    
    input{
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $color-primary;
    }

    textarea{
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $color-primary;
    }
}

// FOOTER 
.footer{
    background-color: $color-primary;

    &__logo{
        width: 11rem;
        opacity: 0.2;
    }

    &__copyright{
        color: $color-tertiary;
        // opacity: 0.2;
    }

    &__nav{
        list-style-type: none;
        gap: 2rem;
        &__link{
            text-decoration: none;
            color: white;
        }
    }



    &__social-media{
        list-style-type: none;

        &__link{
            text-decoration: none;
            color: $color-tertiary;
            font-size: $font-size-medium;
        } 
    }
}


// Header


// Hero
.hero{
    .title{
        font-size: 64px;
        line-height: 82px;
    }

    .subtitle{
        font-size: 31px;
        line-height: 37px;
    }
}


// Contact
// Register
// Login


.blog-header{
    img{
        height: 300px;
    }
}


/* ADMIN */
// Dashboard


// Navigation

